<footer>
  <p>Built with <a href="https://11ty.io" target="_blank">11ty</a>.</p>
  Styling with <a href="https://caiogondim.github.io/superstylin/" target="_blank">Superstylin</a> and Vanilla CSS.
</footer>
