<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>corderophilosophy.com</title>
    <link rel="stylesheet" href="/assets/css/superstylin.css"/>
    <link rel="stylesheet" href="/assets/css/base.css"/>
    <link rel="stylesheet" href="/assets/css/dark.css"/>
  </head>
  <body>
    {% include "components/site-header.njk" %}
    {% block content %}
    {% endblock %}
    {% include "components/site-footer.njk" %}
  </body>
</html>
