{% extends 'layouts/base.njk' %}

{% block content %}
<h1>Howdy!</h1>
<p>I'm (Dr.) Rich Cordero. I am a Person <span role="image">♿️</span>,
  Philosopher <span role="image">🧠</span>, Consultant <span role="image">💼</span>, and
  Developer <span role="image">👨‍💻</span>, (probably) in that
  order.</p>
<p>I like to write <code>code</code> that does useful things.</p>
<p>Accessibility, on- and off-line, is my jam, but, like most folks, I'm still learning.</p>
<p>You can find me on <a
    href="https://twitter.com/corderophi678" target="_blank">Twitter</a>, but I wouldn't recommend it!</p>

<section aria-labelledby="recent">
  <h2 id="recent">Recent Posts</h2>
  <ul>
  {% set postslist = collections.posts %}
  {% for post in postslist %}
  <li>
    <a href="{{ post.url | url }}">
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
      <code>
        {{ post.url }}
      </code>
      {% endif %}
    </a>
  </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}
